# Venv
venv/
fresh_venv/
*.venv

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Data & Models
data_knowledge/models_artifacts/
datasets/
state_snapshots/

# Logs
logs/
*.log

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
