\n# Experiment logs\n.mlruns/
\n# local venv\nfresh_venv/
\n# large script backups\ntools_utilities/scripts_backup/
tools_utilities/scripts_backup/
ml_architecture/training_systems/agent_systems/simulation/visit/data/
ml_architecture/training_systems/agent_systems/simulation/visit/
ml_architecture/training_systems/development_tools/research/archived/compucell3d/visit/
ml_architecture/training_systems/**/visit/
